doctype html
block vars

html(lang="es")
  include ../_structure/head
  body.scrolled--totop(class=classesBody)
    block header
      include ../_structure/header
    block content
    block footer
      include ../_structure/footer
    include ../_structure/foot
