head
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")
	meta(name="format-detection", content="telephone=no")
	meta(name="theme-color", content="#E8A33C")

	link(rel="shortcut icon" href="favicon.ico")
	link(rel="apple-touch-icon" href="apple-touch-icon.png")

	if (head_title !== "")
		title #{head_title} | Lemoncode: De Figma a CSS
	else  
		title Lemoncode: De Figma a CSS
	link(href="_front/_css/main.css" rel="stylesheet")
