//----------------------------------------//
//                                        //
//  Fonts stylesheet                      //
//                                        //
//----------------------------------------//

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700;900&family=Work+Sans:wght@500&display=swap');


/*
$fonts_path : '../_fonts/';


@font-face{
  font-family:'Roboto';
  src: url($fonts_path+'Example-Rg.woff2') format('woff2'),
       url($fonts_path+'Example-Rg.woff') format('woff'),;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family:'Roboto';
  src: url($fonts_path+'Example-It.eot?#iefix');
  src: url($fonts_path+'Example-It.eot?#iefix') format('eot'),
       url($fonts_path+'Example-It.woff2') format('woff2'),
       url($fonts_path+'Example-It.woff') format('woff'),
       url($fonts_path+'Example-It.ttf') format('truetype'),
       url($fonts_path+'Example-It.svg#215d2b79-dfaf-4343-a49b-0f8a068fe35b') format('svg');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
*/